#banner{
background:#3b5998;
height:44px;
width:100%;
}
#bannertext{
font-family:sans-serif;
font-size:30px;
font-weight:bold;
color:white;
}
#bannertext > a{
color:white;
text-decoration:none;
}
.container-fluid{
background:linear-gradient(#fefefe,#d3d8e8);
}
#or p{
text-align:center;
color:grey;
}
.container{
padding-left:30px;
padding-right:30px;
}
.container p{
text-align:left;
}
.container span{
float:right;
}